body {
   background: linear-gradient(to bottom, #d7ffc6, #fff);
   ;
   font-weight: 900;
   font-size: 100%;
   position: static;
   background-size: cover;
   max-width: 100%;
   padding-left: 5px;
   text-align: center;
   padding-right: 5px;
   color: black;
}

nav {
   height: 45px;
   background-color: black;
   margin: auto 0;
   width: 100%;
   padding-bottom: 10px;
}

nav li {
   float: left;
   width: 25%;
   text-align: center;
   margin: auto 0;
   margin-top: -5px;
}

li a {
   color: white;
   font-size: 90%;
   display: block;
   margin: auto 0;
}

li a:hover {
   color: red;
   margin: auto 0;
}

.link {
   font-size: 20px;
}

h1 {
   margin-left: 20px;
   margin-right: 20px;
   font-weight: 900;
   font-size: 45px;
   text-shadow: 1px 2px #8b0000;
   font-family: Oswald Heavy;
}

h2 {
   font-weight: 900;
   font-size: 45px;
   text-shadow: 1px 1px #8b0000;
   font-family: Oswald Heavy;
}

h3 {
   margin-top: 20px;
   font-weight: 600;
   font-size: 45px;
   text-shadow: 1px 1px #8b0000;
   font-family: Oswald Heavy;
   text-decoration: underl;
}

h4 {
   font-size: 45px;
   text-shadow: 1px 1px #8b0000;
   font-family: Oswald Heavy;
}

.subHeader {
   margin-top: -20px;
   font-size: 16px;
   color: black;
}

.subHead2 {
   font-size: 20px;
   text-shadow: 1px 1px #007faa;
   margin-left: 70px;
   margin-right: 70px;
}

.subHead3 {
   font-size: 25px;
   font-style: italic;
   text-shadow: .5px 1px #8b0000;
   text-decoration: underline;
}

table {
   margin: 20px auto;
   padding: 10px;
   border-radius: 5px;
   font-weight: 800;
   background-color: #ffffff;
   border: 5px solid #007fAA;
   opacity: 0.5;
}

th {
   padding: 15px;
}

td {
   padding: 8px;
}

form {
   font-weight: 800;
   font-size: 15px;
}

fieldset {
   border: none;
}

label {
   font-size: 20px;
   font-weight: 700;
   text-shadow: 1px 1px #8b0000;
   margin-right: 5px;
}

input {
   margin: 20px auto;
   text-align: center;
   border-radius: 5px;
   font-size: 15px;
}

input:focus {
   background-color: #ccffa5;
}

.buttons {
   border-radius: 5px;
}

.buttons:hover {
   background-color: #7bbc6b;
   color: white;
}

.firstValue {
   font-size: 25px;
   padding: 15px;
   color: #8b0000;
   text-shadow: 1px 1px black;
}

.transbox {
   margin: 30px;
   background-color: #ffffff;
   opacity: 0.5;
   filter: alpha(opacity=60);
   border: 3px solid #007fAA;
   outline-color: invert;
   border-radius: 5px;
}

.buy {
   font-size: 20px;
   color: #8b0000;
}

.difference {
   text-decoration: italic;
   font-size: 20px;
   text-shadow: 1px 1px #007faa;
}

.press {
   font-size: 20px;
   text-shadow: .5px;
   text-decoration: italic;
   margin-left: 80px;
   margin-right: 80px;
}

.values {
   padding-bottom: 10px;
}

.number {
   font-size: 22px;
   text-shadow: 1px 1px #007faa;
}

#bitcoinAmount {
   margin-left: 15px;
   margin-right: 15px;
}

.exchangeRates {
   font-size: 20px;
   color: #8b0000;
   text-shadow: 1px 1px black;
}